/* .navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 15, 15);
    color: white;
}

#center{
    display: flex;
    
}

#left{
    margin-left: 10px;
}
#right{

    display: flex;
}


p{
   padding: 6px;
}

button{
    margin: 6px;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    
} */


.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(41, 60, 60);
    color: white;
    height: 10vh;
    width: 100vw;
}

#left{
    display: flex;
    /* margin-top: 45px;
    margin-left: 60px; */
    margin-top: 15px;
}

#right{
    display: flex;
    /* margin: 35px; */
    
}

p{

    margin: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 90vh;
    width: 100vw;
}