* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dc5353;
  }
  
  .container {
    text-align: center;
    background: #82ef93;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(243, 67, 67, 0.1);
    width: 300px;
  }
  
  h1, h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #display {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .key, .keycode, .combination {
    margin: 10px 0;
  }
  
  .key span, .keycode span, .combination span {
    font-weight: bold;
    color: #ff6347;
  }
  
  #history {
    margin-top: 20px;
  }
  
  #keyHistoryList {
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  #keyHistoryList li {
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
  