* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .intro {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 0.9rem;
  }
  .navbar {
    display: flex;
    padding: 0;
    background-color: #181818;
    color: white;
  }
  .list {
    display: flex;
    align-items: stretch;
    align-self: stretch;
    list-style: none;
    margin-top: 27px;
    margin-bottom: 27px;
  }
  .pumacon img {
    margin: 15px;
    padding: 5px;
  }
  
  .listclass {
    display: flex;
    margin-right: 25px;
    font-size: 1rem;
    font-weight: 500;
  }
  .searchbox {
    margin-left: auto;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-right: 30px;
  }
  .searchbox input[type="text"] {
    text-align: center;
    font-weight: 700;
    padding: 5px;
    width: 120px;
    font-size: 20px;
    background-color: #181818;
    border: 1px solid white;
  }
  input[type="text"]::placeholder {
    color: white;
    font-weight: 500;
  }
  
  .ad-container {
    background-color: #414584;
    color: white;
    text-align: center;
    font-weight: 300;
  }
  .ad-container a {
    color: white;
    margin-left: 5px;
  }
  .banner img {
    width: 100%;
  }
  section#banner .banner_content {
    position: absolute;
    top: 12%;
    left: 15%;
    transform: translate(-50%, 50%);
    text-align: center;
    width: 80%;
    color: black;
  }
  .banner_content h1 {
    font-size: 40px;
    word-spacing: 3px;
    color: white;
    margin-top: 175px;
  }
  .banner_content h3 {
    font-size: 20px;
    color: white;
    font-weight: 400;
  }
  .banner_content p {
    font-size: 13px;
    font-weight: bold;
  }
  .banner_content .btn_cont button {
    padding: 9px 13px;
    margin: 0 4px;
    min-width: 50px;
    border: none;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }
  .banner_content .btn_cont button:hover {
    background-color: rgb(49, 47, 47);
  }
  
  section#banner .banner_content2 {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    width: 80%;
    color: white;
  }
  .banner_content2 h1 {
    font-size: 40px;
    word-spacing: 3px;
    color: white;
    margin-top: 175px;
  }
  .banner_content2 p {
    font-size: 13px;
    font-weight: 400;
  }
  .banner_content2 .btn_cont button {
    padding: 9px 13px;
    margin: 0 4px;
    min-width: 50px;
    border: none;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }
  .banner_content2 .btn_cont button:hover {
    background-color: rgb(49, 47, 47);
  }
  .video-section {
    background-color: #dad2cc;
    margin-top: 425px;
  }
  .banner_content3 h1 {
    font-size: 40px;
    word-spacing: 3px;
    color: black;
    margin: 35px;
  }
  .banner_content3 h3 {
    font-size: 20px;
    margin: 35px;
    font-weight: 400;
  }
  .banner_content3 .btn_cont button {
    padding: 9px 13px;
    margin: 0 4px;
    min-width: 50px;
    border: none;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }
  .banner_content3 .btn_cont button:hover {
    background-color: rgb(49, 47, 47);
  }
  .palermo img {
    margin-left: 772px;
    margin-top: -200px;
    width: 750px;
  }
  .video {
    width: 70%;
    height: 550px;
    margin-left: -185px;
    margin-top: -550px;
  }
  .caption1 {
    margin-left: 600px;
    margin-top: 25px;
    align-items: center;
  }
  .caption1 p {
    margin-left: 40px;
    color: grey;
    font-size: 20px;
  }
  .image-container {
    display: flex;
    gap: 20px;
    max-width: 90%;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 75px;
  }
  .image-container img {
    width: 100%;
    max-width: 325px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .image-caption{
      align-items: center;
      text-align: center;
  }
  .image-caption h2{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 600;
      margin-top: 25px;
  }
  .image-caption .btn-cont button{
      
  }
  .banner1 img{
      width: 100%;
      margin-top:25px;
      margin-bottom: 25px;
  }
  .banner_content3 h1{
    font-size: 40px;
    word-spacing: 3px;
    color: white;
    margin-top: -400px;
    margin-left: 50px;
  }
  .banner_content3 h3{
    font-size: 20px;
    margin: 35px;
    color: white;
    margin-left: 50px;
  }
  .banner_content3 button{
      margin-left: 50px;
      min-width: 50px;
      background-color: black;
      color: white;
  }
  .banner2 img{
      margin-top: 200px;
      width: 100%;
  }
  .banner_content4 h1{
      font-size: 40px;
      word-spacing: 3px;
      color: white;
      margin-top: -350px;
      margin-left:1050px;
  
  }
  .banner_content4 h3{
      margin-left: 1050px;
      color: white;
      text-align: center;
      font-weight: 400;
      font-size: 25px;
  }
  .banner_content4 button{
      display: inline-block;
      margin-left: 1050px;
      min-width: 50px;
      background-color: black;
      color: white;
  }
  .image-container2{
    display: flex;
    gap: 15px;
    max-width: 90%;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 225px;
  }
  .image-container2 img{
    width: 100%;
    max-width: 325px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .image-caption2{
      align-items: center;
      text-align: center;
  }
  .caption2{
      margin-left: 650px;
    margin-top: 25px;
    align-items: center;
  }
  .banner3 img{
      width: 100%;
      margin-top: 25px;
  
  }
  .caption3{
      color: black;
      margin-top: 250px;
      align-items: center;
      text-align: center;
  }
  .caption3 h1{
      font-size: 25px;
  }
  .image-container3{
    display: flex;
    gap: 15px;
    max-width: 90%;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 20px;
  }
  .image-container3 img{
    width: 100%;
    max-width: 325px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .image-caption3{
      align-items: center;
      text-align: center;
  }
  .image-caption3 h1{
      font-size: 20px;
      font-weight: 500;
  }
  .banner_content5 h1{
      font-size: 40px;
      word-spacing: 3px;
      color: white;
      margin-top: -300px;
      margin-left:650px;
  
  }
  .banner_content5 h3{
      margin-left: 640px;
      color: white;
      /* text-align: center; */
      font-weight: 400;
      font-size: 25px;
  }
  .banner_content5 .btn_cont button {
      padding: 9px 13px;
      margin: 0 4px;
      min-width: 50px;
      border: none;
      background-color: white;
      color: black;
      transition: all 0.3s ease-in;
      font-weight: 600;
      font-size: 20px;
      margin-top: 10px;
      margin-left: 700px;
    }
    .footer{
      background-color: black;
      color: white;
      margin-top: 175px;
    }
    .footer-heading h1{
      display: flex;
      margin: 30px;
      padding: 25px;
      font-size: 20px;
      font-weight: 500;
    }
    .footer-cont{
      display: flex;
      margin-left: 350px;
      margin-top: -150px;
    }
    .footer-cont1 {
      /* display: flex; */
      margin-left: 700px;
      margin-top: -215px;
    }
    .footer-cont1 h1{
      font-size: 20px;
      font-weight: 400;
  
    }
    .about{
      margin-top: 50px;
    }
    .footer-cont2{
      margin-left: 1050px;
      margin-top: -251px;
    }
    .footer-cont2 h1{
      font-size: 20px;
      font-weight: 400;
    }
    .footer-cont3{
      margin-left: 1050px;
    }
    .footer-cont3 h1{
      font-size: 20px;
      font-weight: 400;
    }
    .last-footer{
      margin-left: 1050px;
      margin-top: -50px;
    }
    .line{
      margin-top: 25px;
    }
    .india-button{
      margin-left: 700px;
      
    }
    .banner_content3 .btn-cont button{
      padding: 9px 13px;
      margin: 0 4px;
      min-width: 50px;
      border: none;
      background-color: white;
      color: black;
      transition: all 0.3s ease-in;
      font-weight: 600;
      font-size: 20px;
      margin-top: 10px;
      margin-left: 700px;
    }